@font-face {
    font-family: intro-font;
    src: url(/public/Merchant\ Copy\ Doublesize.ttf);
}


*{
font-family: intro-font;
}
#test{
background-image: url("./gifbg.GIF");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height:100vh;
overflow: hidden;

}

#bggb{
background-image: url("/public/handsawesome4.png");
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color:transparent;
height: 600px;
width: 900px;


}

#control{
position: absolute;
bottom:0;
left: 963px;

}

#start-game{
    cursor: pointer;
    position:absolute;
    right:46%;
    bottom:16.7%;
    height: 40px;
    width: 40px;
}

#text1 {
font-size: 18px;
top: 159px;
right:-200px;
min-width:200px;
margin-left: 120px;
margin-bottom: 20px;
margin-right: 1600px;
padding-inline: 30px;
overflow: hidden;
}

#text {
font-size: 18px;
top: 174px;
right:-200px;
width: 497px;
min-width:400px;
margin-left: 40px;
margin-bottom: 20px;
margin-right: 1500px;
padding-inline: 30px;
overflow: hidden;


}


#text2 {
top: 0px;
right:-1111px;
width: 540px;
margin-top: 82%;
margin-left: 40px;
margin-right: 1600px;
padding-inline: 30px;
overflow: hidden;
}

#text2a {
    top: -300px;
    right:-1111px;
    width: 540px;
    margin-top:-10%;
    margin-left: 40px;
    margin-right: 1600px;
    padding-inline: 30px;
    overflow: hidden;
    }

#text3 {
    background-color: black;
    top: -1px;
    right:-1177px;
    width:396px;
    margin-top: 1%;
    margin-left: 40px;
    margin-right: 1600px;
    padding-inline: 30px;
    overflow: hidden;
    }
    


